/*
	Stylesheet for Python module documentation.
	Much of the complexity here is to avoid
	displaying unwanted formatting whitespace.
*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

span[class="xml.literal"] {
	text-decoration: underline;
}

pre {
	white-space: pre;
	width: auto;
	display: block;
	background-color: #111111;
}

table {
	padding: 0;
	border-width: 0;
	border-spacing: 0;
}

/* The last identifier in the title providing an href to itself */
div.title > a.terminal {
	font-weight: bold;
}

/* special case for blue links */
a:hover span.identifier {
	color: #FFFFFF;
	text-shadow:
		0px 0px 8px rgba(55, 130, 230, 1),
		0px 0px 8px rgba(55, 130, 230, 1),
		0px 0px 8px rgba(55, 130, 230, 1);
}

a[class="text.reference"]:hover,
span[class="python.parameter.area"] a:hover span.identifier,
a:visited:hover, a:hover {
	color: #FFFFFF;
	text-shadow:
		0px 0px 8px rgba(55, 130, 230, 1),
		0px 0px 8px rgba(55, 130, 230, 1),
		0px 0px 8px rgba(55, 130, 230, 1);
}

html {
	color: #D0D0D0;
	font-family: sans-serif;
	font-weight: thin;
}

body {
	background-color: #202020;
}

p {
	text-shadow:
		1px -1px 2px rgba(0,0,0,1),
		1px 2px 1px rgba(0,0,0,1);
}

dl {
	margin-left: 8px;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

*.title {
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
}

h1, h2, h3, h4, h5 {
	font-family: sans-serif;
	font-weight: normal;
	/*color: #64A7F7;*/
	color: #898989;
	margin-bottom: 0.2em;
	margin-top: 0.3em;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
}

span.icon {
	margin-left: 4px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
	text-shadow: 0px 2px 2px rgba(255,255,255,0.1);
}

img.icon {
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

div.factor > div.title {
	font-size: 230%;
	background-color: #303030;
	padding: 4px;

	border-width: 1px;
	border-color: gray;
	border-style: solid;
}

div.navigation {
	width: 90%;
	margin: auto;
}

div.navigation > div[class="subfactors"] {
	width: 100%;
	font-size: 140%;
	overflow: hidden;
}

div[class~="undocumented"] {
	display: none;
}

/* visual tag */
span.tag {
	border-width: 1px;
	height: 100%;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
	font-size: small;
	font-family: monospace;
}

span.tag span.text {
	border-radius: 8px 0px 0px 8px;
	border-style: inset;
	border-width: 1px;
	border-color: rgba(100, 100, 100, 0.2);
	border-width-right: 0;

	height: 100%;
	padding-left: 7px;
	padding-right: 4px;
	color: black;
	background: lightgray;
}

span.tag span.type {
	border-radius: 0px 4px 4px 0px;
	border-style: inset;
	font-weight: bold;

	height: 100%;
	padding-right: 6px;
	padding-left: 6px;

	color: #66cc66;
	background: black;

	border-color: rgba(0, 0, 0, 0.6);

	border-width: 2px;
	border-width-left: 1px;
	border-style-left: solid;
}

div[class="context."] dd {
	font-family: monospace;
}

div[class="context."] dt {
	font-family: sans-serif;
	font-variant: small-caps;
	color: green;
}

/* Primary Content */
div[id="content."]{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-width: 50%;
	width: 45%;
	padding-left: 0;
	padding-right: 0; /* mac scrollbar */
	overflow: scroll;
	overflow-x: hidden;

	border-right-width: 2px;
	border-right-style: groove;
	border-right-color: rgba(100, 100, 100, 0.5);

	box-shadow: 4px 0px 12px 4px rgba(0, 0, 0, 0.8);
	z-index: 16;
}

div[id="content."] > h1 {
	margin-left: 8px;
}

/* Selection (hash tag) Description */
div[id="subject.description."] {
	position: absolute;
	top: 0;
	left: 45%;
	margin-left: 4px; /* compensate for scrollbar padding */
	right: 0;
	height: 100%;
	width: auto;

	background-color: rgba(0,0,0,0.1);
	padding-left: 16px;
	padding-top: 1em;

	z-index: 8;
	overflow: scroll;
}

div[id="subject.description.element."] {
	position: absolute;
	width: 95%;
	height: 100%;
}

div[class="source.code"] {
	width: 100%;
}

div[class="source.code"] > pre {
	box-shadow: inset 0 0 16px #000000;
	padding-right: 8px;
	background-color: rgba(0,0,0,0.2);
	border-width: 1px;
	border-color: rgba(100,100,100,0.3);
	font-size: small;
	font-family: monospace;
}

/* node that cloned in order to show the default right pane content */
div[id="subject.default."] {
	display: none;
}

div[class="index.function"] {
	margin-left: 1em;
}

div[class="index.structure"] {
	margin-left: 1em;
}

div[class="index.class"] {
	margin-left: 1em;
}

div[class="imports."] > div {
	margin-left: 1em;
}

span[class="line.count"]:hover {
	font-size: medium;
}

span[class="line.count"] {
	vertical-align: top;
	font-size: xx-small;
	color: #606060;
}

.antiselect {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* Data/Class/Method Name */
span.identifier {
	font-family: monospace;
	font-size: 128%;
	color: rgb(115, 160, 230);
	display: inline-block;
}

/* Identifier Context Name (class name of method, module name of function) */
span.identity-context {
	color: gray;
	font-size: 90%;
}

span.internal {
	display: none;
}

/* defaults for arbitrary parameter areas (functions/methods/class bases) */

div[class="factor..structures"] > div.title,
div[class="factor..classes"] > div.title,
div[class="factor..functions"] > div.title,
div[class="factor..imports"] > div.title,
div[class="factor..sources"] > div.title,
div[class="factor..sections"] > div.title
{
	width: 95%;
	background: rgba(0,0,0,0.15);

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(80,80,80,0.4);

	padding-left: 8px;

	margin-left: -4px;
	border-right-width: 1px;
	border-radius: 4px;
}

div[class="section"] > div.title,
div[class="index"] > div.title
{
	font-size: large;
	width: 100%;
	vertical-align: middle;
	background: rgba(0,0,0,0.3);

	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0.2em;
	padding-right: 1em;

	margin-bottom: 4px;
	margin-left: 1px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(100,100,100,0.4);
	/*border-bottom-color: rgba(200,200,200, 0.2);*/
}

div[class~="container"],
div[class~="structure"],
div[class~="interface"],
div[class~="protocol"],
div[class~="template"],
div[class~="structure"],
div[class~="class"]
{
	background: rgba(70,70,70,.15);

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(100,100,100,.4);
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	margin-left: -1px;
	margin-right: 12px;

	overflow-x: hidden;
}

/* doc div's inside containers */
div[class~="container"] > div.doc,
div[class~="structure"] > div.doc,
div[class~="interface"] > div.doc,
div[class~="protocol"] > div.doc,
div[class~="template"] > div.doc,
div[class~="structure"] > div.doc,
div[class~="class"] > div.doc
{
	margin-left: 1em;
}

div[class~="property"],
div[class~="function"],
div[class~="data"],
div[class~="method"]
{
	position: relative;
	width: 95%;
	background: rgba(10,10,10,.15);

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;

	border-style: solid;
	border-width: 1px;
	border-color: rgba(90,90,90,.4);
	border-radius: 4px;

	overflow-x: hidden;
}

div[class="section"] > div.title:before
{
	content: '\1F4C3';
	margin-right: 0.5em;
	padding-left: 0.5em;
}

div[class="index"] > div.title:before
{
	content: '\1F4C7';
}

div.index > div.title
{
	margin-top: 2em;
}

div[class~="data"] div[class="section"] > div.title,
div[class~="method"] div[class="section"] > div.title,
div[class~="property"] div[class="section"] > div.title,
div[class~="function"] div[class="section"] > div.title
{
	font-size: medium;
	width: 90%;

	margin-left: -4px;
	border-right-width: 1px;
	border-radius: 4px;
}

div[class~="property"] > div.title,
div[class~="function"] > div.title,
div[class~="data"] > div.title,
div[class~="method"] > div.title
{
	padding-top: 3px;
	padding-bottom: 8px;

	border-width: 0;
	border-style: solid;
	border-color: rgba(80,80,80,0.4);
	border-radius: 4px;
}

div[class="none.title"] {
	font-size: 128%;
	/*text-decoration: underline;*/

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;

	color: #64A7F7;
	color: rgb(135, 182, 248);

	text-shadow:
		0px 3px 6px rgba(0,0,0,1),
		0px 3px 6px rgba(0,0,0,1);
	/*text-shadow: -1px -2px 0 rgba(0,0,0,1);
	background-color: #222222;*/
}

span.inline {
	border-width: 1px;
	background-color: black;
	padding: 1px;
	font-family: monospace;
}

span.signature:before
{
	content: '(';
}

span.signature:after
{
	content: ')';
}

/* parameter area */
span[class="python.parameter.area"]
{

}

span[class="python.parameter.area"],
span[class="python.parameter.area"] span.identifier
{
	font-size: 100%;
	color: gray;
	text-shadow: none;
}

span.sequence-delimiter:last-child
{
	display: none;
}

span.path-delimiter, span.sequence-delimiter,
span.delimiter, span.assignment { font-size: medium; }

/* add some space after comma's */
span.sequence-delimiter {
	margin-right: 0.5em;
}

div.python-protocol-method {
	display: none;
}

div.undocumented {
	display: none;
}

div.head {
	display: none;
}

div.class {
	margin-top: 3em;
}

div.title {
	font-family: monospace;
}

#navigation {
	position: fixed;
	right: 0;
	top: 2px;
	max-width: 2.5in;
}

div.representation {
	margin-top: 1em;
	margin-left: 2em;
	font-family: monospace;
}

/* Formatting for HTML representation of Python objects */
div[class="python.object.inline"] {
	max-height: 4cm;
	overflow: scroll;
}

div[class="python.tuple"],
span[class="python.dictionary.item"] {
	margin-left: 2em;
}

/*
 * Text Portions Contained in doc-strings.
 */
div.doc {
	font-size: 90%;
}

div.doc p {
	margin-right: 1em;
}

div.doc > div.section > p:first-child {
	margin-top: 0.1em;
}

div.toc a:hover {
	text-shadow: none;
	color: #3798F0;
}

div.toc {
	font-size: larger;
}

div.toc-no-match {
	font-size: x-large;

	/*background-color: rgba(0,0,0,0.4);
	background: linear-gradient(135deg, rgba(100,173,229,0.4) 0%,rgba(41,137,216,0.4) 50%,rgba(30,87,153,0.3) 100%);*/
	background: linear-gradient(135deg,
		rgba(163,199,226,0.15) 0%,
		rgba(100,173,229,0.15) 6%,
		rgba(41,137,216,0.08) 39%,
		rgba(30,87,153,0.05) 100%)
	;

	box-shadow:
		0 0 8px 0px rgba(0,0,0,0.9),
		0 0 8px 0px rgba(0,0,0,0.9)
	;

	border-color: rgba(60,60,60,0.9);
	border-style: solid;
	border-width: 1px;

	margin-right: 1em;
	margin-left: 1em;

	padding-left: 1em;
	padding-right: 3em;
}

div.toc li.no-match *
{
	color: #B0B0D0;
}

div.toc li.no-match {
	color: #FFFFFF;
	text-shadow:
		0px 1px 1px rgba(30, 30, 30, 0.8),
		0px 1px 1px rgba(30, 30, 30, 0.8),
		0px 1px 1px rgba(30, 30, 30, 0.8),
		0px 1px 1px rgba(30, 30, 30, 0.8)
	;
}

div.toc ol.no-match {
	font-size: smaller;
}

div.section {
	margin-top: 3em;
}
div.section:first-child {
	margin-top: 2em;
}

div.section div.section {
	margin-top: 1em;
}

div.module div.doc div.section {
	margin-top: 0.5em;
}

div[class="section"] div[class="section"] div[class="title"] {
	font-size: 105%;
	text-decoration: none;
}

div.module div.doc div[class="section"] div[class="title"] {
	/* reduce the font size in expression documentation */
	font-size: 90%;
	background-color: rgba(20,20,20,0.6);

	position: relative;
	left: -8px;
	margin: 0;
	width: 100%;

	border-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-style: solid;
	border-radius: 0;
}

/* subscript text referencing the containing section */
a[class="supersection"] {
	vertical-align: bottom;
	font-size: xx-small;
	color: #4497E7;
	margin-right: 1em;
	float: right;
}

span[class="ern"]:before {
	vertical-align: top;
	content: "&";
}

a[href="#X-INVALID-REFERENCE"] > span[class="ern"]:before {
	vertical-align: top;
	content: "x";
	color: red;
}

span[class="path.directory"] {
	color: gray;
}
span[class="path.file.name"] {
	color: teal;
}
span[class="path.line.number"] {
	color: orange;
}
span[class="path.line.number"]:before {
	content: ':';
}

span[class="ern"] {
	vertical-align: top;
	font-size: xx-small;
	color: darkgray;
	color: #4497E7;
	margin-left: 1px;
}

div[class="text.literals"] pre,
div[class="text.literals"] code {
	border-width: 0px;
	border-radius: 0;

	font-family: monospace;
	font-size: medium;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

div[class="text.literals"] pre {
	box-shadow: inset 0 0 16px #000000;
	background-color: rgba(0,0,0,0.2);
	border-width: 1px;
	border-color: rgba(100,100,100,0.3);
}

code {
	font-family: monospace;
	font-size: 84%;
	display: inline-block;
}

div[class^="frame.instructions"] {
	display: none;
}

div[class^="frame.source" and class~="collapsed"] > pre {
	color: red;
	background-color: yellow;
}

div[class^="frame.source"] > pre {
	box-shadow: inset 0 0 16px #000000;
	background-color: rgba(0,0,0,0.2);
	border-width: 1px;
	border-color: rgba(100,100,100,0.3);
	max-width: 85%;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div[class^="frame.source"] > pre > code > span[class="source.line.focus"] {
	color: orange;
}

div[class^="frame.source"][class$=" collapsed"] > pre > code > span[class="source.line"] {
	display: none;
}

span[class="text.emphasis"] {
	font-style: italic;
}

span[class="text.emphasis.heavy"] {
	font-weight: bolder;
}

/* emphasis weight of 3 or higher */
span[class="text.emphasis.excessive"] {
	font-weight: bold;
}

dl.text > dd {
	margin: 0;
	border: 0;
	padding: 0;
	padding-left: 4em;
}

dl.text > dd > *:first-child {
	margin-top: 4px;
}

a[class="dkn"]:before {
	content: "↬";

	color: #bc6d26;
	font-family: sans-serif;
	font-size: 115%;

	margin-right: 4px;
}
a[class="dkn"] {
	vertical-align: middle;
	font-size: 110%;
	color: #4497E7;
	margin-left: 2px;
	margin-right: 2px;
}

dl.text > dt {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: larger;
	font-family: monospace;
}

div[id="factor..section.index"]
{
	float: right;
	margin-left: 1em;
	margin-right: 1em;
	padding-right: 1em;
	padding-left: 1em;
	min-width: 45%;
	max-width: 60%;
	border-width: 1px;
	border-radius: 3px;
	border-color: black;
	border-style: solid;
	border-right-width: 0;
	background-color: rgba(200, 200, 200, 0.1);
}

div.factor > div[class="index.reference"]
{
	margin-top: 0;
	z-index: -1;
	padding-left: 1em;
	overflow: hidden;
	padding-bottom: 8px;
	margin-bottom: 0.5em;
}

span.tab
{
	background-color: rgba(0, 0, 0, 0.3);
	color: gray;

	border-width: 1px;
	border-style: solid;
	border-radius: 0 0 2px 2px;
	border-color: gray;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 4px;
	border-top-width: 0;
	font-family: monospace;
}

span.tab:hover
{
	color: white;
}

div.title > span.metrics
{
	font-size: 64%;
	margin-top: 1em;
	float: right;
	padding-right: 1em;
}

/* Subsections inside concept representations */
div.module div.doc div[class="section"] div[class="section"] > div.title {
	padding-left: 8px;
	background-color: rgba(20,20,20,0.4);

	border-width: 0px;
	border-bottom-width: 1px;
	border-radius: 0;
}

div.module div.doc div[class="section"] div[class="section"] {
	position: relative;
	overflow-x: hidden;

	background-color: rgba(20,20,20,.6);

	margin: 1em;

	border-color: rgba(100,100,100,0.3);
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}

div.module div.doc div.section[id$=".Parameters"] > dl.text > dt {
	font-family: monospace;
	font-size: small;
	font-weight: bold;
	color: #55BB55;
}

div.qualifiers
{
	position: relative;
	left: -8px;

	width: calc(100% + 8px);
	background-color: rgba(20,20,20,0.2);
	font-size: 80%;

	border-style: solid;
	border-color: rgba(80,80,80,0.3);
	border-width: 1px;

	padding-left: 0.5em;
	margin-top: 1px;
}

div.qualifiers:empty
{
	display: none;
}

